p {
    color: black;
}

.text {
    color: blue;
}

.highlight {
    color: green;
}

p.text {
    color: orange;
}

#demo {
    color: red;
}

body p {
    color: purple;
}

body .text {
    color: brown;
}

p.highlight {
    color: pink;
}

#demo.text {
    color: gray;
}

#demo.text.highlight {
    color: gold;
}